name: Generate pacman animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate pacman SVG (Dark Theme)
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: "Heisenberg-Xd"
          background_color: "#000000"     # Pure black
          dot_color: "#2c2c2c"            # Dark grey contribution squares
          pacman_color: "#f9ff00"         # Pacman yellow
          ghost_color: "#ff005d"          # Ghost red/pink
          path_color: "#4CC9F0"           # Neon cyan
          stroke_color: "#1a1a1a"         # Grid stroke dark

      - name: Push pacman-contribution-graph.svg to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
